.control-hub {
  display: flex;
  margin-bottom: 1.5rem;

  @include respond(tablet) {
    margin-bottom: pRem(54);
  }

  &__home {
    height: 2rem;
    width: 2rem;
    margin-right: auto;
    img {
      height: inherit;
      width: inherit;
    }

    @include respond(tablet) {
      height: pRem(36.5);
    }
  }

  &__controls {
    display: flex;
    align-items: center;
  }
}
