.search-bar {
  position: relative;
  margin-bottom: 1.5rem;

  &__input {
    font-size: var(--font-size--m);
    color: var(--main-font-color);
    line-height: 1.2;
    font-weight: 700;
    background-color: var(--search-bar-bg-color);
    width: 100%;
    border-radius: 1rem;
    border: none;
    padding: calc((14 / 16) * 1rem) 1.5rem;

    &::placeholder {
      color: var(--search-bar-placeholder-color);
    }

    &:focus,
    &:focus-visible {
      color: var(--main-font-color);
      outline: 1px solid var(--color-purple-default);
    }

    //override chrome defaults when autofilling
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
      -webkit-box-shadow: 0 0 0 1000px var(--search-bar-bg-color) inset !important;
      -webkit-text-fill-color: var(--main-font-color) !important;
    }
  }

  &__submit {
    background-color: var(--search-bar-bg-color);
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    height: 1rem;
    padding-right: 1.5rem;
    svg {
      width: 1rem;
    }
  }
}
