.search-results {
  padding-top: 1.5rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid var(--border-color);
  margin-bottom: 1.5rem;

  @include respond(tablet) {
    padding-top: pRem(50);
    padding-bottom: 2.5rem;
  }
}
