.search-bar {
  display: flex;
  align-items: center;

  &__input {
    font-size: var(--font-size--m);
    color: var(--main-font-color);
    font-weight: 700;
    background-color: var(--search-bar-bg-color);
    height: 3rem;
    width: 100%;
    padding-left: 1.5rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border: 1px solid var(--main-bg-color);
    border-right: none;

    @include respond(tablet) {
      font-size: var(--font-size--heading-s);
      height: 4rem;
    }

    &::placeholder {
      color: var(--search-bar-placeholder-color);
    }

    &:focus,
    &:focus-visible {
      color: var(--main-font-color);
      border: 1px solid var(--color-purple-default);
      border-right: none;
    }

    //override chrome defaults when autofilling
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
      -webkit-box-shadow: 0 0 0 1000px var(--search-bar-bg-color) inset !important;
      -webkit-text-fill-color: var(--main-font-color) !important;
    }

    &--error {
      border: 1px solid var(--color-red-default);
      border-right: none;
    }
  }

  &__input:focus + &__submit,
  &__input:focus-visible + &__submit {
    border: 1px solid var(--color-purple-default);
    border-left: none;
  }

  &__submit {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--search-bar-bg-color);
    height: 3rem;
    padding: 0 1.5rem;
    border: 1px solid var(--main-bg-color);
    border-left: none;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    svg {
      width: 1rem;
    }

    @include respond(tablet) {
      height: 4rem;
    }

    &--error {
      border: 1px solid var(--color-red-default);
      border-left: none;
    }
  }

  &__error {
    padding-top: 0.5rem;
    color: red;
  }
}
