.theme-toggler {
  display: flex;
  align-items: center;

  &__checkbox {
    -moz-appearance: initial; // Hack for Firefox Browsers
    appearance: initial;
    position: relative;
    height: 1.25rem;
    width: 2.5rem;
    cursor: pointer;
    margin-right: 0.75rem;

    &:before {
      position: absolute;
      content: "";
      height: 1.25rem;
      width: 2.5rem;
      border-radius: 1.2rem;
      background: var(--color-grey-75);
    }

    &:after {
      position: absolute;
      top: 0.2rem;
      left: 0.2rem;
      display: inline-block;
      content: "";
      height: pRem(14);
      width: pRem(14);
      border-radius: 50%;
      background: var(--color-white-FF);
      transition: transform 0.3s;
    }

    &:checked::before {
      background: var(--color-purple-default);
    }

    &:checked::after {
      transform: translate(pRem(20), 0);
    }

    @include has-hover() {
      &:hover::before {
        background: var(--color-purple-default);
      }

      &:hover::after {
        transform: translate(pRem(20), 0);
      }
    }
  }

  &__checkbox:checked + &__moon,
  &:hover {
    svg path {
      stroke: var(--color-purple-default);
    }
  }

  &__moon {
    cursor: pointer;
    display: inline-block;
    svg {
      width: 1.25rem;
      height: 1.25rem;
    }
  }
}
