.word-forms {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: minmax(2.5rem, fit-content) minmax(1.5rem, fit-content);
  grid-row-gap: 0.5rem;
  margin-bottom: pRem(34);

  &__word {
    grid-area: 1 / 1 / 2 / 2;
    font-size: var(--font-size--heading-l);
    line-height: 1.25;

    @include respond(tablet) {
      font-size: var(--font-size--heading-xl);
      line-height: 1.05;
    }
  }
  &__spoken {
    grid-area: 2 / 1 / 3 / 1;
  }
  &__phonetic {
    color: var(--color-purple-default);
    font-size: var(--font-size--l);
    line-height: 1.333333;

    @include respond(tablet) {
      font-size: var(--font-size--heading-m);
    }
  }

  &__play {
    cursor: pointer;
    grid-area: 1 / 2 / 3 / 3;
    align-self: center;
    justify-self: end;
    height: 3rem;
    width: 3rem;
    @include respond(tablet) {
      height: pRem(75);
      width: pRem(75);
    }

    svg {
      height: inherit;
      width: inherit;
    }
    @include has-hover() {
      &:hover {
        svg g {
          circle {
            opacity: 1;
          }
          path {
            fill: var(--color-white-FF);
          }
        }
      }
    }
  }
}
